@tailwind base;
@tailwind components;
@tailwind utilities;

@layer  base, components,utilities;



:root {
  --action: #7B5F26;
  --bg: white;
  --for: #222127; 
   --font-mono:  "Source Code Pro", serif;
    --font-serif: "Source Sans 3", serif;
    --font-heading:  "Bakbak One", serif;
	--accent: #4dc3ff
}

	body,html {
		margin: 0;
		padding: 0;
		
		position:relative;
		overflow-x:hidden; 
		height: 100%;
    line-height:1.3
	}
	
	a {
	color: var(--action);
	text-decoration:underline;

	}
	a:hover {
		text-decoration: none; 
	}
	body {
	background: var(--bg);
	color: var(--for); 
	font-family: var(--font-mono)
	}
	input {
		outline:none;
	}

@layer components {


  .button-component {
    @apply bg-background85 border border-foreground text-xs uppercase pt-2 pb-2 pl-3 pr-3 
    flex items-center
  }
  .button-component.big {

  }
  .button-component .svg-container {
    margin-right: 6px;
  }
}